<nav class="nav-bar">
  <img id="logo" src="https://www.zarla.com/images/target-logo-2400x2400-20220513-2.png?crop=1:1,smart&width=150&dpr=2" alt="logo">

  <div class="user-account">
    <div class="navcontrols" style="margin: 0px 20px;">
      <button  class="logout-button" type="button">Logout</button>
    </div>
    <p id="message">
      <% if (username) { %> <%= username %> <% } else { %> Guest <% } %>
    </p>
    <img id="user-profile" src="https://cdn-icons-png.freepik.com/512/10124/10124199.png?ga=GA1.1.562956230.1752162874" alt="user-profile">
  </div>
</nav>
