<div class="side-panel">
    <div class="panel-controls">
        <button class="dashboard" type="button" id="dashboard">Dashboard</button>
    </div>
    <div class="panel-controls">
            <button class="leave-button" type="button" onclick="leaveRequest()" id="leaveRequest">Leave Request</button>
    </div>
    <div class="panel-controls">
        <button  class="logout-button" type="button">Logout</button>
    </div>
</div>