<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/role/style.css">
    <link href="https://assets.targetimg1.com/static/images/favicon.ico" id="favicon" rel="icon" type="image/png">
    <title>Dashboard | Teacher</title>
</head>
<body class="dashboard-body">
    <%- include('partials/nav-bar') %>
    <h1>
        I am Teacher 
    </h1>
</body>
<script src="/js/teacher.js"></script>
<script src="/js/script.js"></script>
</html>